<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv=“Content-Security-Policy” content="default-src ‘self’; "> 
    <title>Booki</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <header>
        <nav id="mainnav" class="group">
            <div id="bookiLogoMobile"><a href="/">Booki</a></div>
            <div id="menu">&#x2261;</div>
            <h1><a id="bookiLogo" href="/">Booki</a></h1>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="bookList">Book List</a></li>
                <li><a href="addNewBook">Add Book</a></li>
            </ul>
        </nav>
    </header>

    <main id="home-main">
        <section id="home-section">
            <div>
                <h1>Read Books</h1>
                <h4>in style</h4>
                <p>Get started on archiving all of your great reads.</p>
            </div>
            <div id="quote-machine-container">
                <div id="quote-machine">
                    <div id="quote-area">
                        <i id="leftQuote" class="fas fa-quote-left"></i>
                            <p class="fade-in" id="quoteSpace"></p>
                        <i id="rightQuote" class="fas fa-quote-right"></i>
                    </div>
                    <p class="fade-in delayed" id="titleSpace"></p>
                </div>
            </div>
        </section>
        <div id='quotesList'>
            <ul id="storeQuotes">
            <% for (let i=0; i<books.length; i++) {%>
                <li>
                <p class="title"><%= books[i].title %></p>
                <p class="author"><%= books[i].author %></p>
                <p class="quote"><%= books[i].quoteOne %></p>
                <p class="quote"><%= books[i].quoteTwo %></p>
                <p class="quote"><%= books[i].quoteThree %></p>
                </li>
            <% } %>
             </ul>
        </div>
    </main>
<script src="/main.js"></script>
<script src="/index.js"></script>
</body>
</html>