<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv=“Content-Security-Policy” content="default-src ‘self’; ">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>

<header>
    <h1><a href="/">Booki</a></h1>
    <nav>
        <a href="/">Home</a>
        <a href="bookList">Book List</a>
        <a href="addNewBook">Add Book</a>
    </nav>
</header>

<section id="home-section">
    <div>
        <h1>Read Books</h1>
        <h4>in style</h4>
        <p>Get started on archiving all of your great reads.</p>
    </div>
        <div id="quote-machine-container">
            <div id="quote-machine">
                <div id="quote-area">
                    <i id="leftQuote" class="fas fa-quote-left"></i>
                        <p class="fade-in" id="quoteSpace"></p>
                    <i id="rightQuote" class="fas fa-quote-right"></i>
                </div>
                <p class="fade-in delayed" id="titleSpace"></p>
            </div>
        </div>
</section>


<div id='quotesList'>
    <ul id="storeQuotes">
    <% for (let i=0; i<books.length; i++) {%>
        <li>
        <p class="title"><%= books[i].title %></p>
        <p class="author"><%= books[i].author %></p>
        <p class="quote"><%= books[i].quoteOne %></p>
        <p class="quote"><%= books[i].quoteTwo %></p>
        <p class="quote"><%= books[i].quoteThree %></p>
        </li>
    <% } %>
</ul>
</div>
<script src="/main.js"></script>

<script>
let qList = document.querySelector("#storeQuotes")

let totalQuotes = qList.childElementCount

if (totalQuotes <= 0) {
    document.querySelector("#quoteSpace").innerHTML = "No saved books, get to adding!"
    document.querySelector("#quoteSpace").style.opacity = "1"
} 




let quotesObj = new Object;
let q=1

 for (let i=1; i<= totalQuotes * 2 -1; i+= 2) {
     if (qList.childNodes[i].childNodes[5].innerText) {
        quotesObj[`key`+q] = {
            title: qList.childNodes[i].childNodes[1].innerText,
            author: qList.childNodes[i].childNodes[3].innerText,
            quote1: qList.childNodes[i].childNodes[5].innerText,
        }
        if (qList.childNodes[i].childNodes[7].innerText) {
        quotesObj[`key`+q].quote2 = qList.childNodes[i].childNodes[7].innerText
        }
        if (qList.childNodes[i].childNodes[9].innerText) {
        quotesObj[`key`+q].quote3 = qList.childNodes[i].childNodes[9].innerText
        }
     } else {
         q--
     }
        q++
    } 

    let objSize = Object.keys(quotesObj).length;
    let titleSpace = document.querySelector("#titleSpace")

        window.onload = newQuoteFunc;
    
        function newQuoteFunc () {
            let randomNumKeys = Math.ceil(Math.random()*objSize)
            let randomNumKeyQuote = quotesObj[`key`+randomNumKeys]
            let randomNumKeyQuoteLength = Object.keys(randomNumKeyQuote).length - 2;
            let thisIsTheQuote = randomNumKeyQuote[`quote`+ Math.ceil(Math.random() * randomNumKeyQuoteLength)]
            

            quoteSpace.innerHTML = thisIsTheQuote;
            titleSpace.innerHTML = randomNumKeyQuote.title + ' by ' + randomNumKeyQuote.author

            $(quoteSpace).animate({ opacity: 0 }, 0, function () {
                $(this).animate({ opacity: 1 }, 1000);
            });

            $(leftQuote).animate({ opacity: 0 }, 0, function () {
                $(this).animate({ opacity: 1 }, 1000);
            });

            $(rightQuote).animate({ opacity: 0 }, 0, function () {
                $(this).animate({ opacity: 1 }, 1000);
            });

            $(titleSpace).animate({ opacity: 0 }, 0, function () {
                setTimeout(() => {
                    $(this).animate({ opacity: 1 }, 1000);
                }, 1000)
            });
        }
            window.setInterval(newQuoteFunc, 5000)
    
</script>
</body>
</html>